.container {
  padding: 16px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
}

.sucess {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
