.container {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 99px;
    font-weight: bold;
    font-size: 14px;
}

.active {
    background-color: #d1fae5;
    color: #065f46;
}

.inactive {
    background-color: #fee2e2;
    color: #991b1b;
}